[SddmGreeterTheme]
Name=Pescadolinux
Description=Pescadolinux Default Theme
Author=Abdurrahman AVCI,PescadoGames
Copyright=(c) 2013, Abdurrahman AVCI
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=https://github.com/sddm/sddm
Screenshot=Theme.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=pescadogames-official@gmail.com
Theme-Id=pltheme
Theme-API=${COMPONENTS_VERSION}
